@{
    ViewBag.Title = "小车科目" + (ViewBag.km == 1 ? "一" : "三") + (ViewBag.pattern == 1 ? "顺序" : "随机") + "练习";
}
@section styles{
    <link href="~/Content/css/jk/exercise.css" type="text/css" rel="stylesheet" />
}
<div>
    <p><span id="question" class="question_title"></span>@*[难度：<span id="difficulty"></span>]*@</p>
    <div id="media"></div>
    <div id="answer_data" class="edit_info"></div>
    <div id="explain" style="margin-bottom:15px;"></div>
    <input type="button" class="btn btn-info" id="prev" value="上一题" />
    <input type="button" class="btn btn-info" id="next" value="下一题" />
</div>

@section scripts{
    <script src="~/Scripts/s-util.js"></script>
    <script>
        var idarr = [];//所有问题序号
        var question_arr = [];//问题集合
        var pattern = "@(ViewBag.pattern)";//练习模式
        var pre_load_quantity = 10;//预加载问题的数量
        var before_quantity = 5;//提前多少预加载
        var cur_question_id = "@(ViewBag.id)";//当前问题
        var q_index = 0;//当前问题索引
        var km = "@(ViewBag.km)";

        $(function () {
            idarr = JSON.parse(getSequenec(km, pattern))['Data'];
            if (pattern == 1) {
                q_index = idarr.binary_search(cur_question_id, 0, idarr.length - 1);
            } else {
                cur_question_id = idarr[0];
                q_index = idarr.search(cur_question_id);
            }
            //首次加载
            var ids = get_ids(q_index, 1, true);
            get_questions(ids, true);

            //点击上一题
            $("#prev").click(function () {
                prev_question();
            })
            //点击下一题
            $("#next").click(function () {
                next_question();
            });

        });
        //上一题
        function prev_question() {
            if (q_index <= 0) {
                alert('已经是第一题了');
                return;
            }
            var q = get_question_info(idarr[--q_index], -1);
            $("#explain").html('');
            show_question(q);
        }
        //下一题
        function next_question() {
            if (q_index >= idarr.length) {
                alert('已经是之后一题了');
                return;
            }
            var q = get_question_info(idarr[++q_index], 1);
            $("#explain").html('');
            show_question(q);
        }

        //展示问题
        function show_question(q_info) {
            $("#question").text(q_info['question']);
            $("#difficulty").text(q_info['difficulty']);
            var base_answer_value = 16;
            if (q_info['mediaType'] == 1) {//图片
                var img_html = "<img src='" + q_info['mediaContent'] + "' class='question_img' />"
                $("#media").html(img_html);
            } else if (q_info['mediaType'] == 2) {//动画
            } else {
                $("#media").html('');
            }
            var html = "";
            if (q_info['optionType'] == 0) {//判断题
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value + '"/></span>' + q_info['optionA'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 2 + '"/></span>' + q_info['optionB'] + '</p>';
            } else if (q_info['optionType'] == 1) {//单选
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value + '"/></span>' + q_info['optionA'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 2 + '"/></span>' + q_info['optionB'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 4 + '"/></span>' + q_info['optionC'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 8 + '"/></span>' + q_info['optionD'] + '</p>';
            } else if (q_info['optionType'] == 2) {
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value + '"/></span>' + q_info['optionA'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 2 + '"/></span>' + q_info['optionB'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 4 + '"/></span>' + q_info['optionC'] + '</p>';
                html += '<p><span><input type="radio" name="answer" value="' + base_answer_value * 8 + '"/></span>' + q_info['optionD'] + '</p>';
            }
            $("#answer_data").html(html);
            $("div.edit_info p").on('click', function () {//点击答案
                var $this = $(this);
                $this.find("span").addClass("check");
                $this.siblings().find("span").removeClass("check");
                var ckh_res = submit_answer(1, q_info['answer']);
                if (ckh_res) {//答对
                    $this.find("span").addClass("right");
                    $this.siblings().find("span").removeClass("right");
                    $this.siblings().find("span").removeClass("wrong");
                    $this.addClass("right_font");
                    $this.siblings().removeClass("right_font");
                    $this.siblings().removeClass("wrong_font");
                    setTimeout(function () { next_question() }, 500);
                    $("#explain").html('');
                } else {//答错
                    $this.find("span").addClass("wrong");
                    $this.siblings().find("span").removeClass("right");
                    $this.siblings().find("span").removeClass("wrong");
                    $this.addClass("wrong_font");
                    $this.siblings().removeClass("right_font");
                    $this.siblings().removeClass("wrong_font");
                    //错题详解
                    var explain_html = "<p>试题详解</p>";
                    explain_html += q_info['explain'];
                    $("#explain").html(explain_html);
                    //标记正确答案
                    $("div.edit_info span").each(function () {
                        var $nthis = $(this);
                        if ($nthis.children("input").val() == q_info['answer']) {
                            $nthis.addClass("right");
                            $nthis.parent('p').addClass("right_font");
                        }
                    })
                }
            });
        }

        //提交答案
        function submit_answer(type, answer) {
            var val = 0;
            if (type == 1) {
                $("div.edit_info span.check").each(function () {
                    val += $(this).children("input").val();
                })
                return answer == val;
            }
            return false;
        }

        //获取问题
        function get_question_info(id, direction) {
            for (var i in question_arr) {
                if (question_arr[i]['questionId'] == id) {
                    check_is_get_question(q_index, direction);
                    return question_arr[i];
                }
            }
            alert('数据加载出错，请稍后重试');
        }

        //预加载数据
        function check_is_get_question(index, direction) {
            if (direction > 0) {//正向
                var n_index = parseInt(index) + before_quantity;
                for (var i in question_arr) {
                    if (question_arr[i]['questionId'] == idarr[n_index]) {
                        return;
                    }
                }
                var ids = get_ids(n_index, direction);
                get_questions(ids);
            } else if (direction < 0) {//反向
                var n_index = parseInt(index) - before_quantity;
                for (var i in question_arr) {
                    if (question_arr[i]['questionId'] == idarr[n_index]) {
                        return;
                    }
                }
                var ids = get_ids(n_index, direction);
                get_questions(ids);
            }
        }

        //获取问题id
        function get_ids(index, direction, is_first) {
            if (index < 0) return "";
            var ids = "";
            var n_index = index;
            if (is_first) {//第一次获取时，前后都获取
                for (var i = 0; i < pre_load_quantity; i++) {
                    --n_index;
                    if (n_index > idarr.length || n_index < 0) {
                        break;
                    }
                    ids += idarr[n_index] + ",";
                }
            }
            n_index = index;
            for (var i = 0; i < pre_load_quantity; i++) {
                ids += idarr[n_index] + ",";
                if (direction > 0) n_index++;
                else n_index--;
                if (n_index >= idarr.length || n_index <= 0) {
                    break;
                }
            }
            return ids;
        }

        //获取问题及答案
        function get_questions(ids, is_first) {
            $.post("/JK/QuestionList", { questionIds: ids }, function (d) {
                if (d && d.Code == 0) {
                    for (var i in d.Data) {
                        question_arr.push(d.Data[i]);
                    }
                    if (question_arr.length > 200) {
                        var nquestion_arr = [];
                        for (var j = 120; j < question_arr.length; j++) {
                            nquestion_arr.push(question_arr[j]);
                        }
                        question_arr = nquestion_arr;
                    }
                    if (is_first) {//第一次获取时，绑定数据
                        var q = get_question_info(cur_question_id, 1);
                        show_question(q);
                    }
                }
            });
        }

        //获取问题序号
        function getSequenec(km, p) {
            return $.ajax({
                url: "/JK/Sequenec",
                data: { km: km, pattern: p },
                type: "post",
                async: false,
            }).responseText;
        }
    </script>
}