@{
    ViewBag.Title = "驾考模拟考试";
}
<p>
    <a class="btn btn-default" role="button" href="/jk/exercise/?km=1">科目一顺序练习</a>
</p>

<p>
    <a class="btn btn-default" role="button" href="/jk/exercise/?km=1&pattern=2">科目一随机练习</a>
</p>